<footer class="info">
  Copyright 2023 <%= locals.title %>

<div class="dropdown">
  <button class="btn dropdown-toggle btn-secondary bg-gradient" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img id="flagSelected" class="flag32" src="img/<%= t("lng") %>.svg" alt=""><%= t("languageDropdown") %>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" onclick="dropLang('de')"><img class="flag32" src="img/de.svg" alt="Select Language German"> Deutsch</a></li>
    <li><a class="dropdown-item" onclick="dropLang('en')"><img class="flag32" src="img/us.svg" alt="Select Language English"> English</a></li>
    <li><a class="dropdown-item" onclick="dropLang('ru')"><img class="flag32" src="img/ru.svg" alt="Select Language Russian"> Русский</a></li>
    <li><a class="dropdown-item" onclick="dropLang('tr')"><img class="flag32" src="img/tr.svg" alt="Select Language Turkish"> Türkçe</a></li>
  </ul>
</div>
</footer>
<style>
  .flag32{
      width: 32px;
      border: 1px;
      border-color: black;
  }
</style>
<script type="module">

  window.dropLang= dropLang;

  function dropLang(selected){
    if(selected=="de"||selected=="en"||selected=="ru"||selected=="tr"){
      fetch("/change/"+selected).then(()=>{window.location.reload()});
    }
  }
</script>
<script src="js/bootstrap.bundle.min.js"></script>