<h1>Some Error Happened</h1>
<% messages.forEach(element => { %>
 <h1><%= element %></h1>
<% }) %>

<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<a href="/book/<%= _roomID %>" class="btn btn-primary">Back</a>