<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<style>
	.mycode{
        display: block; 
        padding: 3px 15px 10px; 
        font-size: 14px; 
        line-height: 20px;
        width: 100%;
        max-width: 800px;
        background-color: #333;
        font-family: arial;
        color: #f7f7f7;
        font-weight: bold;
        overflow: auto;
        tab-size: 2;
        /* white-space: pre-wrap; */
        /* word-break: break-word; */
        }
	</style>
	<body>
		<h3>"client/.env" File is not present. Create file in root folder and fill these in... :</h3>
			<pre class="mycode">

NODE_ENV=development
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=<%= randombytes %>
ADMIN_PASS=
MYSQL_HOST=localhost
MYSQL_USER=pma
MYSQL_PASS=
MYSQL_DB_NAME=booking
SESSION_DB_NAME=sessions
			</pre>
			<h3>For first time setup create database named "booking" and "sessions"</h3>
			<h3>Then setup app.js-> options variable to your database username and host</h3>
			<h3>Then setup dbmysql.js-> mysql.createConnection() function to your database username password and host. Database name could be changed here too...</h3>
			<h3>After running the app once required tables should be created. Check if tables are ready, then enter these trigger commands from your mysql server.</h3>
			<pre class="mycode">
DELIMITER $$
CREATE TRIGGER ins_cost AFTER INSERT ON room FOR EACH ROW BEGIN
INSERT INTO report_room (log, log_time, roomId, cost_room, cost_room_vat, cost_person, cost_person_vat)
VALUES('insert', NOW(), NEW.id, NEW.cost_room, NEW.cost_room_vat, NEW.cost_person, NEW.cost_person_vat);
END$$
DELIMITER ;

DELIMITER $$
CREATE TRIGGER upd_cost AFTER UPDATE ON room FOR EACH ROW BEGIN
INSERT INTO report_room (log, log_time, roomId, cost_room, cost_room_vat, cost_person, cost_person_vat)
VALUES('update', NOW(), NEW.id, NEW.cost_room, NEW.cost_room_vat, NEW.cost_person, NEW.cost_person_vat);
END$$
DELIMITER ;
			</pre>			
			<h3>Below form not working yet</h3>
			<form action="/setup" method="post" >
			<div class="form-group row" >
				<label for="dbh" class="col-sm-4 control-label">Database Host (required)</label>
				<div class="col-sm-8">
				<input required class="form-control" type="text" name="dbh" value="localhost" required disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="dbu" class="col-sm-4 control-label">Database User (required)</label>
				<div class="col-sm-8">
					<input required class="form-control" type="text" name="dbu" value="" required disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="dbp" class="col-sm-4 control-label">Database Password (usually required)</label>
				<div class="col-sm-8">
				<input class="form-control" type="text" name="dbp" value="" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="dbn" class="col-sm-4 control-label">Main Database Name (required)</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="dbn" value="db_name_here" required disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="dbsn" class="col-sm-4 control-label">Session Database Name</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="dbsn" value="sessions" required disabled>
				</div>
			</div>
			<div class="form-group row">				
				<div class="col-sm-8">
					<input class="button" type="button" name="btn_sbmt" value="Setup DB" disabled>
				</div>
			</div>

		</form>
		<footer class="info">
		</footer>
	</body>
</html>
