/* Style the header with a grey background and some padding */
.navbar{
	background: #ffffff;
}
.nav-item .active{
	text-decoration: underline;
}

  @media (min-width: 1024px) {
	.mediawidth {
		width: 1024px;
	}
  }
  @media (min-width: 1200px) {
	.mediawidth {
		width: 1200px;
	}
  }