/* Style the header with a grey background and some padding */
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}
.room-image {
    height: 100%;
    object-fit: cover;
    border-radius: .4em  0  0 .4em;
}
.room-props,.room-services{
        min-width: 250px;
    }
.brdr-rght{
  border: solid var(--bs-card-border-color);
  border-width: 0 1px 0 0 ;
}
.selected-card{
  background: #fff9f6;
}
.disappear-768{
  display:none;
}
.colorDiv {
  text-align: center;
  color: rgb(15, 15, 15);
  width: 100%;
  padding-top: 0.4em;
  font-weight: 400;
  border-radius: 8px;
  background-color: #d4d4d4;
  transition: 0.5s;
  cursor: pointer;
  /* -webkit-box-shadow: 3px 3px 8px #666;
  -moz-box-shadow: 3px 3px 8px #666;
  box-shadow: 3px 3px 8px #888; */
}
input:checked ~ .colorDiv {
  transition: 0.5s;
  background-color: #C89E85;
}
@media screen and (max-width: 400px) {

}
@media screen and (max-width: 675px) {
    
}
@media screen and (max-width: 992px) {
    .room-props,.room-services{
        min-width: 250px;
    }
    .room-image-cont{
        min-width: 170px;
    }
}
@media screen and (max-width: 768px) {
    .room-image {
    border-radius: .4em .4em 0 0 ;
    }
    .brdr-rght{ 
      border-width: 0 0 0 0 ;
    }
    .appear-768{
      display: none;
    }
    .disappear-768{
      display: contents;      
    }
    #container{
      width: 100%;
    }

}

/* 
@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
  } */