/* Style the header with a grey background and some padding */
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}
.room_image {
    height: 9em;
    object-fit: cover;
    border-radius: .8em;
}

@media screen and (max-width: 675px) {

}