img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}
.room-image {
    height: 100%;
    object-fit: cover;
    border-radius: .4em  0  0 .4em;
}
.container{
    min-width: 390px;
}
.available-btns{    
    width: 4.5em;
    height: 2.2em;
    background: var(--bs-success);
}
@media screen and (max-width: 767px) {
    .room-image {
    border-radius: .4em .4em 0 0 ;
    }
}